In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O
import matplotlib.pyplot as plt # data visualization
import seaborn as sns # statistical data visualization
%matplotlib inline

In [2]:
#importing the dataset
data = pd.read_csv('Car details v3.csv')
data.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.40,1248.0,74.00,190,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14,1498.0,103.52,250,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.70,1497.0,78.00,12.7,5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.00,1396.0,90.00,NaN,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.10,1298.0,88.20,11.5,5.0

In [3]:
data = data.drop(['torque'],axis=1)
maxpower = data['max_power']
data['max_power']= maxpower.astype(float)
data.describe(include='all')
data.mileage.fillna(data.mileage.mean(), inplace=True)
data.max_power.fillna(data.max_power.mean(), inplace=True)
data.engine.fillna(data.engine.mean(), inplace=True)
data.seats.fillna(data.seats.mean(), inplace=True)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8128 entries, 0 to 8127
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           8128 non-null   object
 1   year           8128 non-null   int64
 2   selling_price  8128 non-null   int64
 3   km_driven      8128 non-null   int64
 4   fuel           8128 non-null   object
 5   seller_type    8128 non-null   object
 6   transmission   8128 non-null   object
 7   owner          8128 non-null   object
 8   mileage        8128 non-null   float64
 9   engine         8128 non-null   float64
 10  max_power      8128 non-null   float64
 11  seats          8128 non-null   float64
dtypes: float64(4), int64(3), object(5)
memory usage: 762.1+ KB

In [5]:
#adding the recommneded attribute to the dataset
data['recomended'] = 0
data.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats,recomended
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.40,1248.0,74.00,5.0,0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14,1498.0,103.52,5.0,0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.70,1497.0,78.00,5.0,0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.00,1396.0,90.00,5.0,0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.10,1298.0,88.20,5.0,0

In [6]:
#treating the dataset
#list of an example of a  recommanded attributes
#the number of models should be high enough to prevent overfitting
recommanded_models = ['Maruti Zen LXI','Tata Indica DLS','Fiat Palio 1.2 ELX','Maruti Wagon R LXI DUO BSIII','Maruti 800 DX BSII','Maruti Alto 800 CNG LXI Optional'
,'Maruti 800 Std','Maruti 800 Std','Maruti 800 AC','Tata Nano Cx','Hyundai i10 Magna','Tata Indica DLS']   #example list
for Index,row in data.iterrows():
        for attr in recommanded_models:
            if attr == row['name']:
                data.at[Index,'recomended'] = 1

In [7]:
data.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats,recomended
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.40,1248.0,74.00,5.0,0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14,1498.0,103.52,5.0,0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.70,1497.0,78.00,5.0,0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.00,1396.0,90.00,5.0,0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.10,1298.0,88.20,5.0,0

In [8]:
data.isnull().sum()

name             0
year             0
selling_price    0
km_driven        0
fuel             0
seller_type      0
transmission     0
owner            0
mileage          0
engine           0
max_power        0
seats            0
recomended       0
dtype: int64

In [9]:
from sklearn.model_selection import train_test_split
X =data.drop(['recomended'],axis=1)
y = data['recomended']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.33, random_state = 100)
X_train.shape, X_test.shape

((5445, 12), (2683, 12))

In [10]:
import category_encoders as ce
encoder = ce.OrdinalEncoder()
X_train = encoder.fit_transform(X_train)
X_test = encoder.transform(X_test)
X_train.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats
2238,1,2011,229999,140000,1,1,1,1,11.57,2179.0,138.1,7.0
3146,2,2015,500000,100000,1,1,1,2,26.00,1498.0,98.6,5.0
1237,3,2013,200000,300000,1,1,1,2,14.00,2498.0,112.0,8.0
6474,4,2017,360000,25000,2,1,1,2,23.01,999.0,67.0,5.0
432,5,2015,840000,120000,1,1,1,1,12.99,2494.0,100.6,7.0

In [11]:
from sklearn.tree import DecisionTreeClassifier

regressor = DecisionTreeClassifier(criterion='gini', max_leaf_nodes=20,splitter='best')
regressor.fit(X_train,y_train)

DecisionTreeClassifier(max_leaf_nodes=20)

In [12]:
score = regressor.score(X_train,y_train)
score2 = regressor.score(X_test, y_test)
entry = pd.DataFrame.from_records([{'name':'Hyundai Santro Xing XL','year':2007,'selling_price':8500,'km_driven':8000,'fuel':'Petrol','seller_type':'individual','transmission':'Manual','owner':'Second Owner','mileage':18.2,'engine':998,'max_power':67.1,'seats':5}])
entry = encoder.transform(entry)
prediction = regressor.predict(entry)
print(score)
print(score2)
print(prediction)

#Si on incremente le prix la classe sera 0 == pas recommandé

entry = pd.DataFrame.from_records([{'name':'Hyundai Santro Xing XL','year':2007,'selling_price':8500,'km_driven':80000,'fuel':'Petrol','seller_type':'individual','transmission':'Manual','owner':'Second Owner','mileage':18.2,'engine':998,'max_power':67.1,'seats':5}])
entry = encoder.transform(entry)
prediction = regressor.predict(entry)
print(prediction)


#The data used for the training is just a test, it dosent represent a good set, in a real case , the number of models would be higher
#and that will reduce the overfitting

0.9972451790633609
0.9891912038762579
[1]
0.9972451790633609
0.9891912038762579
[0]